    <mat-toolbar class="mat-toolbar "  >
        <span class="fill-remaining-space"><img src="../../assets/Logo.svg" /></span>
        <span class="fill-remaining-space " ><img  src="../../assets/ico_dashboard.svg" />DashBoard</span>
        <span class="fill-remaining-space btn"  (click)="Navigate() "><img src="../../assets/ico_users.svg" />Users</span>
        <span class="fill-remaining-space"><img src="../../assets/ico_sessionmanager.svg" />SessionManager</span>
        <span class="fill-remaining-space"></span>
        <span class="fill-remaining-space">
            <img src="../../assets/ico_notification.svg" />&nbsp;
            <img src="../../assets/ico_user.svg" />&nbsp;
            Ajay Samala
                    <img src="../../assets/ico_downarrow.svg" />
        </span>
    </mat-toolbar>
    <router-outlet></router-outlet>

